.advantages {
    padding-bottom: 80px;
}

.container {
}

.container__advantages {
}

.advantages__title {
    padding-top: 80px;
    padding-bottom: 40px;
}

.advantages__content {
}

.advantages__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.advantages__card {
}

.advantages__card-top {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 20px;
}

.advantages__card-top img{
    width: 56px;
    height: 70px;
}

.advantages__card-title {
}

.advantages__card-text {
    color: rgb(128, 128, 128);
    max-width: 389px;
}