.form {
    padding-top: 80px;
    padding-bottom: 80px;
}

.container {
}

.form__container {
}

.form__inner {
    display: flex;
    align-items: center;
    gap: 70px;

}

.form__title {
    padding-bottom: 16px;
}

.form__text {
    width: 465px;

    color: rgb(128, 128, 128);

    padding-bottom: 24px;
}

.form__main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-label {
    width: 465px;
    border-radius: 16px;
    background: rgb(242, 242, 242);
    padding: 16px 16px 30px 16px;}

.form__label {
    width: 465px;
    border-radius: 16px;
    background: rgb(242, 242, 242);
    padding: 16px 16px 30px 16px;
}

.form__label-text {
    border-radius: 16px;
    background: rgb(242, 242, 242);

    padding: 16px 16px 40px 16px;

    margin-bottom: 40px;
}

.form__submit {
    display: flex;
    align-items: center;
    gap: 24px;
}

.btn {
}

.btn__form {
    width: 203px;
    height: 56px;

    /* Span/Desktop */
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.btn__form-text {
    width: 238px;

    font-size: 12px;
}

.form__text-personal {
    font-size: 12px;
    color: rgb(80, 93, 236);
}

.form__img {
    width: 63%;
    height: 63%;
}