.header {
    padding-top: 24px;
    position: relative;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*=============================================*/
/*================Burger=====================*/
/*=============================================*/

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
}

.header__burger-btn .header__burger-line {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: rgb(71, 84, 235);
    left: 10px;
    transition: .6s, opacity .6s, background-color .6s;
}

.header__burger-btn .header__burger-line:nth-child(1) {
    transform: translateY(-6px);
}

.header__burger-btn .header__burger-line:nth-child(3) {
    transform: translateY(6px);
}

.header__burger-btn .header__burger-line:nth-child(2) {

}

/*=============================================*/
/*=============================================*/
/*=============================================*/

.header__nav-link {
    transition: .6s;
}

.header__nav-link:hover {
    color: #222;
}

.title__color-change a{
    color: #f1f1f1;
}

.header__logo a{
    color: rgb(71, 84, 235);
    font-weight: 700;
}


.header__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.header__btn-mb {
    display: none;
}

