@media (max-width: 1200px) {
    .welcome__form-label {
        width: 425px;
    }

    .welcome__form-btn {
        position: absolute;
    }

    .welcome__img-picture {
        width: 545px;
        height: 490px;
    }

    /*Advantages */
    .advantages__card-text {
        max-width: 340px;
    }

    /*    Work*/
    .work__img img {
        width: 556px;
    }

    .work__separator {
        gap: 15px;
    }

    .work__content-title {
        width: 380px;
    }

    .work__content-text {
        width: 380px;
    }

    /*    Tariffs*/

    .tariffs__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

/*   Testimonials */

    .testimonials__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .testimonials__slide {
        margin-right: 0;
        min-width: 577px;
    }

    .testimonials__slide:nth-child(1) {
        display: none;
    }

    .testimonials__slide:nth-child(6) {
        display: none;
    }

    .testimonials__btn-next {
        display: none;
    }

    .testimonials__btn-prev {
        display: none;
    }

/*    Sale*/

    .sale {
        padding-top: 0;
    }

    .sale__inner {
        flex-direction: column;
        align-items: center;

        gap: 0;
    }

    .sale__title {
        max-width: 50%;
    }

    .sale__form-btn {
        left: 28%;
    }

/*    form*/

    .form__inner {

        gap: 0px;
    }
}

@media (max-width: 995px) {

    /*Header*/

    .header__logo a {
        position: absolute;
        left: 15%;
        z-index: 12;
        top: 49%;
    }

    .header__burger-btn {
        display: block;
        z-index: 11;
    }

    .title__color-change a {
        color: #f1f1f1;
    }

    .header__nav {
        position: absolute;
        top: 0;
        left: -350px;
        background: rgb(71, 84, 235);
        padding: 100px 20px 20px 20px;
        width: 300px;
        border-radius: 16px;

        transition: .6s;
    }

    .header__nav-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .header__nav-link {
        color: #f1f1f1;
    }

    .active {
        left: 0;
    }

    .header__btn {
    }

    .header__btn-mb {
        display: none;
    }
    /*Welcome*/

    .welcome {
        background: url("../img/bc-mb.png") 100% 50% no-repeat;
    }

    .welcome__inner {
        flex-direction: column;
        gap: 0;
    }

    .welcome__form-label {
        width: 395px;
    }

    .welcome__form-btn {
        left: 28%;
    }

    .welcome__scroll{
        display: none;
    }

    .welcome__text {
        padding-bottom: 0;
    }

    .welcome__img img {
    display: none;
    }

/* advantages */

.advantages {
    padding-top: 10%;
}

.advantages__cards {
    flex-direction: column;
}

.advantages__card-text {
    max-width: 570px;
}

/*Work*/

    .work__inner {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .work__img img {
        width: 680px;
    }

    .work__separator {
        display: none;
    }

    .work__content-title {
        width: unset;
    }

    .work__content-text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: unset;
    }

    .work__content-text:last-child {
        padding-bottom: 40px;
    }

/*    Sale*/

    .sale__title {
        max-width: 70%;
    }

    .sale__form-btn {
        left: 35%;
    }

/*Form*/

    .form__img {
        display: none;
    }

    .form__inner {
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .welcome__img img {
        position: absolute;
        top: 86%;
        left: 0%;
        width: 555px;
        height: 600px;
    }

    .welcome__form-btn {
        left: 33%;
    }

/*advantages*/

    .advantages__title {
    }

/*    Work*/

    .work__img img {
        width: 515px;
        height: 490px;
    }

/*    Testimonials*/

    .testimonials__title {
        color: rgb(26, 26, 26);
        font-size: 18px;
        font-weight: 700;
        line-height: 125%;
    }

    .testimonials__slide {
        margin-right: 0;
        min-width: 398px;
    }

    .testimonials__slide-img {
        width: 48px;
        height: 48px;
    }

    .testimonials__slide-name {
        color: rgb(26, 26, 26);
        font-size: 18px;
        font-weight: 700;
        line-height: 125%;

        padding-right: 175px;
    }

    .testimonials__slide-coment {
        font-size: 14px;
        width: 295px;
    }

/*    Sale*/

    .sale__title {
        max-width: 89%;
    }

}

@media (max-width: 550px) {

    /*Header*/

    .header__btn {
        display: none;
    }

    .header__btn-mb {
        display: block;
    }

    .header__logo a {
        left: 28%;
    }

    .header__nav {
        max-width: 60%;
    }

    /*Welcome*/

    .welcome__title {
        font-size: 41px;
        font-weight: 700;
        line-height: 125%;
        padding-top: 50px;
    }

    .welcome__form-btn {
        left: 52%;
    }

    .welcome__img img {
        position: absolute;
        top: 69%;
        left: 17%;
        width: 343px;
        height: 326px;
    }

    .welcome__img-picture {
        display: none;
    }


/*   Adv */

    .advantages__title {
        font-size: 18px;
        padding-top: 0%;
    }

    .advantages__card-top {
        padding-bottom: 10px;
    }
    .advantages__card-top img {
        width: 36px;
        height: 45px;
    }

    .advantages__card-title {
        font-size: 18px;
    }

    .advantages__card-text {
        font-size: 14px;
    }

/*    Work*/

    .work__img img {
        width: 343px;
        height: 280px;
    }

    .work__content-title {
        font-size: 26px;
        font-weight: 700;
        line-height: 125%;
    }

    .work__content-text {
        font-size: 14px;
    }

    .work__btn {
        text-align: center;
    }

    .work__btn button{
        font-size: 14px;
        font-weight: 700;
    }

/*    Tariffs*/

    .tariffs__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 125%;

        padding-bottom: 55px;
    }

/*    Sale*/

    .sale__img {
        width: 356px;
        height: 363px;
    }

    .sale__title {
        color: rgb(26, 26, 26);
        font-size: 36px;
        font-weight: 700;
        line-height: 125%;
    }

    .sale__form-label {
        width: 383px;
    }

    .sale__form-btn {
        left: 45%;
    }

/*    Accordion*/

    .accordion__title {
        color: rgb(26, 26, 26);
        font-size: 18px;
        font-weight: 700;
        line-height: 125%;
    }

    .accordion__btn-title {
        color: rgb(26, 26, 26);
        font-size: 26px;
        font-weight: 700;
        line-height: 125%;
    }

    .accordion-collapse {
        color: rgb(128, 128, 128);
        font-size: 14px;
    }

/*    footer*/

    .footer__content-right-mb {
        display: block;
    }

    .footer__content-right {
        display: none;
    }

/*    Form*/

    .form__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .form__title {
        color: rgb(26, 26, 26);
        font-size: 26px;
        font-weight: 700;

        padding-bottom: 8px;
    }

    .form__text {
        width: 380px;

        color: rgb(128, 128, 128);
        font-size: 14px;

        padding-bottom: 16px;
    }

    .btn__form {
        font-size: 14px;
        font-weight: 700;
    }

    .form__submit {
        flex-direction: column;
    }


}

@media (max-width: 480px) {

    .welcome__title {
        font-size: 36px;
    }


    .welcome__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .testimonials {
    display: none;
    }

    .form__text {
        width: 300px;
    }

    .form__label {
        width: 80%;
    }

    .form-label {
        width: 80%;
    }

    .form__label-text {
        width: 80%;
    }

    .sale {
        display: none;
    }

}

@media (max-width: 400px) {

    .welcome__title {
        font-size: 24px;
        text-align: center;
    }

    .welcome__form-label {
        width: 284px;
    }


    .testimonials {
        display: none;
    }

    .work__img {
        display: none;
    }

}

