.testimonials {
    background: url("../img/bc4.png") 50% 50% no-repeat;

    padding-bottom: 80px;
}

.container {
}

.testimonials__container {
    position: relative;
}

.testimonials__title {
    padding-bottom: 80px;
    padding-top: 80px;
}

.testimonials__slider {
}

.swiper {
}

.mySwiper {
}

.testimonials__wrapper {
}

.swiper-wrapper {
}

.testimonials__slide {
    border-radius: 16px 16px 0px 0px;
    background: rgba(255, 255, 255, 0.5);
    padding: 16px 24px 16px 16px;

    margin-right: 5%;

    width: 580px;
}

.swiper-slide {
}

.testimonials__slide-m {
    margin: 16px 24px 16px 16px;
}

.testimonials__slide-top {
    display: flex;
    gap: 16px;
    align-items: center;

    padding-bottom: 32px;
}

.testimonials__slide-img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.testimonials__slide-name {
    color: rgb(26, 26, 26);
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    width: 171px;

    padding-right: 344px;
}

.testimonials__slide-data {
    color: rgb(128, 128, 128);
    font-weight: 400;
}

.testimonials__slide-coment {
    width: 580px;
    color: rgb(128, 128, 128);

    padding-bottom: 16px;
}

.testimonials__slide-stars {
    display: flex;
    gap: 4px;
}

.testimonials__slide-star {
    width: 24px;
    height: 24px;
}

.swiper-button-next {

}

.testimonials__btn-next {
    position: absolute;
    top: 15%;
    left: 92%;

    color: #f1f1f1;
    background-color: rgb(71, 84, 235);
    width: 74px;
    height: 74px;
    transition: .6s;
    border-radius: 50%
}

.testimonials__btn-next:hover {
    color: rgb(71, 84, 235);
    background-color: #f1f1f1;
}

.testimonials__btn-prev {
    position: absolute;
    top: 15%;
    left: 85%;

    color: #f1f1f1;
    background-color: rgb(71, 84, 235);
    width: 74px;
    height: 74px;
    transition: .6s;


    border-radius: 50%

}

.swiper-button-prev:hover {
    color: rgb(71, 84, 235);
    background-color: #f1f1f1;
}