.work {
    background: url("../img/bc3.png") 50% 50% no-repeat;
    padding: 80px 0;
}

.container {
}

.work__container {
}

.work__title {
    padding-bottom: 40px;
}

.work__inner {
    display: flex;
    gap: 32px;
}

.work__img img{
    width: 628px;
    height: 639px;
}

.work__content {
}

.work__separator {
    display: flex;
    gap: 32px;
    padding-bottom: 30px;
}

.work__separator-text:first-child {
    color: rgb(71, 84, 235);
    font-weight: 700;
}

.work__separator-text {
    color: rgb(255, 255, 255);
}

.work__content-title {
    padding-bottom: 16px;
    width: 628px;
}

.work__content-text:first-child {
    color: rgb(71, 84, 235);
    font-weight: 700;
    padding-bottom: 24px;
}

.work__content-text{
    color: rgb(128, 128, 128);
    padding-bottom: 16px;
    width: 463px;
}

.work__content-text:last-child {
    padding-bottom: 70px;
}

.work__btn {
}

.btn {
}